*{
    margin: 0;
}

nav{
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: black;
    z-index: 99;
}

.wrapper{
    background-color: grey;
    height: 350px;
    width: 100%;
}

.wrapper2{
    background-color: grey;
    height: 380px;
    width: 100%;
}

.text{
    position: relative;
    box-sizing: border-box;
    top: 60px;
    background-color: grey;
    height: 100px;
    float: left;
    width: 45%;
    margin: 10px;
}

.img{
    position: relative;
    top: 100px;
    left: 0;
    box-sizing: border-box;
    padding: 2px;
    background-color: white;
    height: 250px;
    width: 250px;
    float: left;
    margin: 8px;
}

h1{
    position: absolute;
    top: 80px;
    z-index: 99;
}

h2{
    position: absolute;
    left: 42%;
    top: 10px;
}

p{
    position: absolute;
    top: 70px;
}

img{
    height: 125px;
    width: 125px;
}

.imgtxt{
    position: absolute;
    top: 130px;
    font-size:13px;
}

.lm{
    position: absolute;
    top: 320px;
    left: 0;

}

.aboutfoot{
    position: relative;
    bottom:40px;
}

footer{
    position: relative;
    bottom: 10px;
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
}

@media screen and (max-width: 800px) {
    .text{
        width: 100%;
    }

    .img{
        width: 100%;
        margin: 8px;
    }

    .wrapper2{
        height:1200px;
    }


}

@media screen and (min-width: 800px) {
    .img{
        width: 250px;
    }


}



